# Kopiraj ovaj fajl u .env i popuni vrijednosti
# cp .env.example .env

# OBAVEZNO — generiši random string npr: openssl rand -hex 32
JWT_SECRET=zamijeni_ovo_sa_dugim_random_stringom

# Port na kojem sluša Node server (Apache ProxyPass na ovaj port)
PORT=3001

# Env (ne mijenjaj)
NODE_ENV=production

# Inicijalna lozinka za korisnike (sale, pero, boris) — samo ako startaš sa praznom bazom
# Ako kopiruješ postojeću bazu, ova varijabla se ignoriše
# SEED_PASSWORD=promijeni_ovo
